* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*背景部分*/
body {
  background: linear-gradient(135deg, #2d3238 0%, #1e2226 50%, #121417 100%);
  color: #e0e0e0;
  font-family: sans-serif;
}

/* 左側のメインスペース */
.site-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  width: 100%;
}

/*ヘッダー*/
.site-header {
  grid-column: 1 / 2;
  border-bottom: 1px solid #555;
  padding: 20px;
  position: sticky;    
  top: 0;              
  z-index: 100;        
  background-color: #1a1a1a94; 
  backdrop-filter: blur(12px);
}

/*サイドバー*/
.sidebar {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  background-color: #181616a1;
  border-left: 1px solid #555;
  padding: 20px;
}

/*スクロールテスト用*/
.main-content {
  grid-column: 1 / 2;
  padding: 20px;
  height: 2000px; 
}

.header-button {
  background-color: #ffffff;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}