* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*背景部分*/
body {
  background: linear-gradient(135deg, #2d3238 0%, #1e2226 50%, #121417 100%);
  color: #e0e0e0;
  font-family: sans-serif;
}

/* 左側のメインスペース */
.site-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  width: 100%;
}

/*ヘッダー*/
.site-header {
  grid-column: 1 / 2;
  border-bottom: 1px solid #555;
  padding: 20px;
  position: sticky;    
  top: 0;              
  z-index: 100;        
  background-color: #1a1a1a94; 
  backdrop-filter: blur(12px);
}

/*サイドバー*/
.sidebar {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  background-color: #181616a1;
  border-left: 1px solid #555;
  padding: 20px;
}

/*スクロールテスト用*/
.main-content {
  grid-column: 1 / 2;
  padding: 20px;
  height: 2000px; 
}

/*ヘッダーのボタン*/
.header-button {
  background-color: #ffffff;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

/*画面を左右に二分割*/
.split-area {
  display: flex;
  gap: 20px;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

/*ジャンル選択のボタン*/
.genre-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  background-color: antiquewhite;
  color: #121417;
  padding: 10px;

}

.genre-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.sidebar-list {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: antiquewhite;
  padding: 3px;
  margin: 3px;
  gap: 3px;
}
  
.detail-image-box {
  width: 100%;
  max-width: 1100px;     
  height: 510px;        
  margin: 20px 0 30px 0; 
  border-radius: 8px;   
  overflow: hidden;
  background-color: #0d1117;
}

.detail-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  display: block;
}